/*---------------------------------------------------------------
Project:	Seaside One Page Template
Version:	1.0
Last change:	19-03-2017
---------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. colors
---------------------------------------------------------------*/

/*------------------------------------------------------------------
about us
---------------------------------------------------------------*/


.o_nas1 {
    /*background: #8ec5ca;;*/
}
.o_nas2 {
    background: #162838;
}

.margines1 {
    /*background: #8ec5ca;*/
}
.margines2 {
    background: #162838;
}
/*.about-text h2 {*/
    /*color:#8ec5ca;*/
/*}*/

/*------------------------------------------------------------------
what we do
---------------------------------------------------------------*/
.what-we {
    background-color: #f2f0ee;
}
.margines3 {
    background-color: #303030;
}

/*------------------------------------------------------------------
products
---------------------------------------------------------------*/
.text-produkty {
    color: #303030;
}

.text-product-image {
    background: rgba(123, 188, 194, 0.8);
}

.text-product-image2 {
    background: rgba(155, 142, 126, 0.8);
}

.text-product-image3 {
    background: rgba(179, 155, 111, 0.8);
}

.margines4 {
    color: #303030;
    background-color: #fff;
}
/*------------------------------------------------------------------
contact
---------------------------------------------------------------*/
.color-margin1 {
    color: #313131;
}

.color-margin2 {
    color: #fff8f3;
}

.margines6 {
    color: #313131;
    background-color: #fff;
}